name: Sync to GitLab
on:
  push:
    branches:
      - main  # or master, depending on your default branch

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Sync to GitLab
        uses: keninkujovic/gitlab-sync@2.1.3
        with:
          gitlab_url: ${{ secrets.GITLAB_URL }}
          username: ${{ secrets.USERNAME }}
          gitlab_pat: ${{ secrets.GITLAB_PAT }}   
